/*reset css*/
*{
    /* kiểu viết tắt emmet*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/*
làm theo 
1 từ ngoài vào trong
2 từ trên xuống dưới
3 từ tổng quan đến chi tiết 
*/

/*
1.vị trí
2. kích thước (chiều rộng và cao)
3. màu sắc
4 kiểu dáng (kiểu chữ , hình tròn, hình vuông,..)
*/
/*chọn ghi đổng loạt giữ alt chọn từng biến và di chuyển xuống cuối bằng phím end */
#main{

}
 
/* begin header */
#header{
height: 46px;
background-color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
}
#nav{
display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
     display: inline-block; /*chuyển nội dung về 1 dòng */
}

#nav li{
    position: relative;
}
#nav li:hover .subnav{/*kĩ thuật làm danh sách hiện lên và tắt đi f8 bài 6 */
    display: block;
}
#nav > li > a{/*truy vấn đến lớp con trực tiếp của thẻ*/
    color: #fff;
    text-transform: uppercase;
    
}

#nav li a{
    
    text-decoration: none;/*bo gach chan*/
   line-height: 46px;/*căn giữa chữ */
    padding: 0 24px;/*cách chữ */
    display: block;
}

/* cú pháp gộp 2 lớp có thuộc tính giống nhau */
#nav .subnav li:hover a,
#nav >li:hover> a{/*đặt ở thẻ li vì nếu di chuột vào lớp con lớp cha sẽ mất hover*/
 color: #000;
 background-color: #ccc;
}

#nav .subnav{
    min-width: 160px;
    position: absolute;
    display: none;
    top: 100%;/* lấy chiều cao 100% của lớp cha*/
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);/*tạo bóng đổ */
    
} 

#nav .subnav a {
    color: #000;
    padding: 0 12px; 
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
    
}

#header .search-btn:hover{
    cursor: pointer;/*thay đổi hình dáng con trỏ thành ngón tay*/
    background-color: red;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/* end header */
/* begin Middle  */
#slider{
    min-height: 500px;
background-color: #333;

}
#content{
height: 1000px;
}

#footer{

}
